
/* 5grid */
#oldStuff1{
    cursor:pointer;
}
#oldStuff2{
    cursor:pointer;
}
#oldStuff3{
    cursor:pointer;
}
#oldStuff4{
    cursor:pointer;
}
#oldStuff5{
    cursor:pointer;
}
#oldStuff6{
    cursor:pointer;
}
#oldStuff7{
    cursor:pointer;
}
#oldStuff8{
    cursor:pointer;
}